/* Reset CSS simple et optimisé */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: sans-serif;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    /* Empêche le zoom sur mobile */
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
}





ul, ol {
    list-style: none;
}




/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    flex-direction: row;

}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** HEADER ***********/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.header img {
    height: 19px;
    width: 61.09px;
    gap: 10px;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 68px;

}

.header ul li {
    padding: 0px;
    border-top: 3px solid transparent;
}



.header nav ul li:hover {
    background-color: white;
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

nav {
    height: 100%;
}


button {
    border-radius: 39px;
}



/***************************************FILTRES ET RECHERCHE**********************/

.filtre-and-search {
    display: flex;
    flex-direction: column;
    gap: 30px;
}



/****** FORMULAIRE ***********/





.formulaire {
    display: flex;
}



.formulaire form {
    display: flex;
    align-items: center;

}



.formulaire label {
    font-size: 16px;
    color: #333;
    margin-right: 10px;

}



.formulaire input[type="text"] {
    width: 200px;
    padding: 11px;
    border: 1px solid #ccc;
    font-size: 14px;

}



.formulaire input[type="text"]::placeholder {
    color: black;
    font-weight: bold ;

}



.formulaire .search {
    background-color: #0055FF;
    color: white;
    border: none;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.formulaire .localisation {
    background-color: #F2F2F2;
    border: none;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 13px 20px;
}

.fa-location-dot {
    color: #333;
}

.formulaire button:hover {
    background-color: #0040cc;

}




/****** FILTRES ***********/

.filtres {
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.filtres form {
    display: flex;
    align-items: center;
    gap: 10px;


}

.btn-filtres {
    display: flex;
    gap: 10px;
}

.btn-filtres button {
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 20px;
    border: 2px solid #ccc;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    display: flex;
    gap: 10px;

}

.filtres button:hover {
    background-color: #DEEBFF;

}

.information {
    font-size: 16px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.fa-info {
    height: 25px;
    border: 1px solid grey;
    border-radius: 50%;
    /* padding: 5px; */
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.fa-solid-fa-money-bill {
    padding: 5px;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}




.hebergements-cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

}

.hebergements-cards a {
    width: 31%;

}

.hebergements-cards .card {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex-wrap: wrap;

}


.hebergements img {
    width: 100%;
    height: 116px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 5px;
}

.hebergements .card-content {
    padding: 15px;
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}


/****** Populaires ***********/
.populaires {
    width: 89%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 5px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** ACTIVITES ***********/

.activites {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;
    padding-right: 30px;
}



.activites-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}


.activites-cards .card{
    width: 23%;
    


}

.activites-cards .card-title{
    padding-left: 8px;


}
/****** FOOTER ***********/

.footer {
    display: flex;
    justify-content: flex-start;
    background-color: var(--main-bg-color);
    gap: 40px;
    padding: 10px;
    margin-top: 20px;

}

.footer article {
    flex: 1;
}

.footer h3 {
    padding-bottom: 25px;
    font-size: 18px;
}

.footer p {
    font-size: 16px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        gap: 10px;
    }

    .hebergements-cards .card  {
        margin-bottom: 10px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .footer {
        display: flex;
        justify-content: flex-start;
        background-color: var(--main-bg-color);
        padding: 10px;
        margin-top: 20px;
    
    }

    .activites-cards img {
        width: 100%;
        height: 221px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    

    .header {
        flex-direction: column;
    
    }

    .header img {
        margin-bottom: 20px;
    }

    .hebergements-cards .card  {
        margin-bottom: 10px;
    }


}
    /* ... */
}